<!DOCTYPE html >
<html lang="ja">
<head>
  <head>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <meta charset="utf-8">
  <title>sinatra lesson</title>
</head>
<body>
  <div class="container">
    <h1>メモアプリ</h1>
    <%=yield%>
  </div>
</body>
</html>

